# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# IDE
.idea/
*.swp
.vscode/

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
*.jks
*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Podfile.lock

# Generated
*.g.dart
*.freezed.dart
.env
